@import '../../../../assets/styles/_colors.scss';

.container{
    background-color: $color-p-3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    gap:20px;
    padding: 10px;
    .title{
        font-size: 2rem;
        align-self: left;
        border-bottom: 0.5px $color-blue-1 solid;
        padding-bottom: 5px;
    }
    .data{
        display: flex;
        justify-content: left;
        flex-direction: column;
    }
}