<div class="container">
    <div class="block">
        <!-- <span>logo</span> -->
    </div>
    <div class="block">
        <div class="menu">
            <div class="element">Home</div>
            <div class="element">Deudas</div>
            <div class="element">Nueva deuda</div>
        </div>
    </div>
    <div class="block">
        <div class="buttons">
            <app-button [title]="'Login'"></app-button>
            <app-button [title]="'Register'"></app-button>
        </div>
    </div>
</div>