$color-p-1:#5b014f;
$color-p-2:#4e0141;
$color-p-3:#400133;
$color-p-4:#330024;
$color-p-5:#250016;

$color-b-1:#71f7bd;
$color-b-2:#55e4ab;
$color-b-3:#39d19a;
$color-b-4:#1cbd88;
$color-b-5:#00aa76;

$color-black-1:#1d1321;
$color-black-2:#160e19;
$color-black-3:#0f0a11;
$color-black-4:#070508;
$color-black-5:#000000;

$color-blue-1:#6485e5;
$color-blue-2:#4b75d2;
$color-blue-3:#3265c0;
$color-blue-4:#1954ad;
$color-blue-5:#00449a;

